<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>

    <form class="form" action="/update-user" method="post">
        <!-- <%= JSON.stringify(userEdit) %> -->
        <fieldset>
            <legend><b>Update a user</b></legend>
            <div class="input-group d-none">
                <label>Id: </label>
                <input type="text" name="userId" value="<%= userEdit.id %>">
            </div>
            <div class="input-group">
                <label>Email: </label>
                <input type="text" name="email" value="<%= userEdit.email %>">
            </div>
            <div class="input-group">
                <label>Name: </label>
                <input type="text" name="name" value="<%= userEdit.name %>">
            </div>
            <div class="input-group">
                <label>City: </label>
                <input type="text" name="city" value="<%= userEdit.city %>">
            </div>
            <div class="btn">
                <button>Update</button>
                <a href="/" class="btn-back">Cancel</a>
            </div>
        </fieldset>
    </form>
</body>

</html>